body {
    margin: 10px;
    color: #14110F;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    font-family: Arial, sans-serif;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: moveShapes 30s linear infinite;
    background: radial-gradient(circle, #553CB9, #F56476);
    background-size: 400% 400%;
  }
  
  @keyframes moveShapes {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
  }

  .centered-div {
    width: 500px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center horizontally within the div */
    align-items: center; /* Center vertically within the div */
    border: 2px solid #FFFDEB; /* Border style and color */
    border-radius: 100px; /* Rounded corners */
    background-color: #FFFDEB;
  }

  .label-std {
    margin: 10px;
    color: #14110F;
    font-weight: bold;
  }

  h1 {
    color: #FFFDEB;
    text-align: center;
  }

  h3 {
    color: #FFFDEB;
    text-align: center;
  }

  /* Button Styles */
.button {
    margin: 10px;
    display: inline-block;
    padding: 2px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    text-align: center;
    text-decoration: none;
    border: 2px solid #14110F; /* Border style and color */
    border-radius: 16px; /* Rounded corners */
    background-color: #14110F; /* Background color */
    color: #FFFDEB; /* Text color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  
  .button:hover {
    background-color: #14110F; /* Hover background color */
    border-color: #14110F; /* Hover border color */
    color: #FFFDEB; /* Hover text color */
    transform: scale(1.05); /* Scale up slightly on hover */
  }
  
  .button:active {
    background-color: #14110F; /* Active (click) background color */
    border-color: #14110F; /* Active (click) border color */
  }
  
  /* Disabled Button Styles */
  .button:disabled {
    background-color: #ccc; /* Disabled background color */
    border-color: #ccc; /* Disabled border color */
    color: #666; /* Disabled text color */
    cursor: not-allowed;
  }

  input {
    border: 1px solid #14110F;
    border-radius: 10px;
  }

  .button-container {
    margin-top: 50px;
    text-align: center;
  }

  .create-form {
    text-align: center;
    background-color: #FFFDEB;
    margin: 40px;
    padding: 0px 20px 20px 20px;
    border-radius: 40px;
  }

  .get-tickets-container {
    text-align: center;
  }
  